*{
    font-family:Arial, Helvetica ,sans-serif;
}

.con{
    display: flex;
    gap: 10rem;    
}
table{

    border: none;
    border-radius: 1rem;
    th{
        color: whitesmoke;
        background-color: #1f1b32;
        padding: 1ch;
    }
    .th-short{
        width: 1rem;
    }
    .th{
        /* width: 10rem; */
        width: 20ch;

    }
    td{
        height: 1.5rem;
        text-align: center;
        border: none;
        padding: 2ch;
        max-width: 20ch;
        word-wrap: break-word;
    }
    
    tr:nth-child(odd){
        background-color: gainsboro;
    }
}
th:last-child{
    border-top-right-radius: 10px;
}
th:first-child{
    border-top-left-radius: 10px;
}
tr:last-child td:last-child{
    border-bottom-right-radius: 10px;
}
tr:last-child td:first-child{
    border-bottom-left-radius: 10px;
}
.action{
    display: flex;
    gap: 2rem;
}


dialog{
    border: solid gray 2px;
    border-radius: 20px;
}
.form{
    display: flex;
    width: 400px;
    height: 30px;
    gap: 30px;
    justify-content: space-between;
    label{
        width: 50%;
    }
    input{
        height: 20px;
        min-width: 50%;
    }
}
button{
    min-width: fit-content;
}
.buttons{
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
}
.btn,.del-btn{
    height: 1.5rem;
    border-radius: 10px;
    font-weight: bold;
    border: none;
}
.del-btn{
    background-color: darkslategray;
    color: whitesmoke;
    padding-inline: 2ch;
}
.btn{
    color: white;
    background-color: #3b22ab;
    width: 6rem;
    
}
